@model IEnumerable<PruebaTecnica2025.Models.Producto>

@{
    ViewData["Title"] = "Productos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="h3 text-center text-primary">Lista de @ViewBag.Title</div>

<p>
    <a class="text-center text-primary" asp-action="Create">Agregar Prodcuto</a>
</p>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CodigoProducto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodigoCategoriaNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoCategoriaNavigation.Nombre)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.CodigoProducto">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CodigoProducto">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CodigoProducto">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
